.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/pandapower.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/
.idea/aws.xml

__pycache__/*
data/*
output/*
utils/__pycache__/*
utils/pandapower/__pycache__/*
appconfig.py